@model Appraisr.ViewModels.EmployeeViewModels.EmployeeDetailViewModel

<div class="col-md-6">
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            @Html.LabelFor(e => e.Employee.IsLicensed)
        </div>
        <div class="col-xs-8 col-sm-8">
            @Model.Employee.IsLicensed
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            @Html.LabelFor(e => e.Employee.LicenseType)
        </div>
        <div class="col-xs-8 col-sm-8">
            @Model.Employee.LicenseType
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            @Html.LabelFor(e => e.Employee.LicenseNo)
        </div>
        <div class="col-xs-8 col-sm-8">
            @Model.Employee.LicenseNo
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            @Html.LabelFor(e => e.Employee.FhaApproved)
        </div>
        <div class="col-xs-8 col-sm-8">
            @Model.Employee.FhaApproved
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            @Html.LabelFor(e => e.Employee.VaApproved)
        </div>
        <div class="col-xs-8 col-sm-8">
            @Model.Employee.VaApproved
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            @Html.LabelFor(e => e.Employee.WorkloadLimit)
        </div>
        <div class="col-xs-8 col-sm-8">
            @Model.Employee.WorkloadLimit
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            @Html.LabelFor(e => e.Employee.PayPercent)
        </div>
        <div class="col-xs-8 col-sm-8">
            @Model.Employee.PayPercent
        </div>
    </div>
</div>

