@model Appraisr.ViewModels.EmployeeViewModels.EmployeesBaseViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(e => e.Employee.IsLicensed, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Employee.IsLicensed, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Employee.IsLicensed)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Employee.LicenseType, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Employee.LicenseType, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Employee.LicenseType)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Employee.LicenseNo, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Employee.LicenseNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Employee.LicenseNo)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Employee.LicenseExp, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Employee.LicenseExp, "{0:d}", new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Employee.LicenseExp)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Employee.FhaApproved, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Employee.FhaApproved, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Employee.FhaApproved)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Employee.Supervisor.Id, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Employee.Supervisor.Id, new { @class = "form-control datepicker" })
            @Html.DropDownListFor(e => e.Employee.Supervisor.Id,
            Model.SuperSelectListItems, "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Employee.WorkloadLimit, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Employee.WorkloadLimit, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Employee.WorkloadLimit)
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Employee.PayPercent, new { @class = "control-label" })
            @Html.TextBoxFor(e => e.Employee.PayPercent, new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Employee.PayPercent)
        </div>
    </div>
</div>

