@model Appraisr.ViewModels.EmployeeViewModels.EmployeeDetailViewModel

@{
    ViewBag.Title = Model.Employee.Role + " Detail";
}

@Html.Partial("_Message")

<h2>@Model.Employee.FirstName @Model.Employee.LastName - @Model.Employee.Role</h2>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(e => e.Employee.FirstName)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Employee.FirstName
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(e => e.Employee.LastName)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Employee.LastName
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(e => e.Employee.PhoneCell)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Employee.PhoneCell
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                <label>
                    Office Phone
                </label>
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Employee.Office.Phone Ext.@Model.Employee.PhoneExt
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(e => e.Employee.Email)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Employee.Email
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(e => e.Employee.HireDate)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Employee.HireDate.ToShortDateString()
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(e => e.Employee.Office.OfficeName)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Employee.Office.OfficeName
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(e => e.Employee.Active)
            </div>
            <div class="col-xs-8 col-sm-8"> 
                <p class="@(Model.Employee.Active ? "text-success" : "text-warning")"> @(Model.Employee.Active ? "Active" : "Inactive")</p>
            </div>
        </div>
        @if (!Model.Employee.Active)
        {
            <div class="well">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        @Html.LabelFor(e => e.Employee.TerminationDate)
                    </div>
                    <div class="col-xs-8 col-sm-8">
                        @string.Format("{0:MM/dd/yyyy}", Model.Employee.TerminationDate)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        @Html.LabelFor(e => e.Employee.TerminationReason)
                    </div>
                    <div class="col-xs-8 col-sm-8">
                        @Model.Employee.TerminationReason
                    </div>
                </div>
            </div>
        }

    </div>    

    @if (Model.Employee.Role == "Appraiser")
    {
        @Html.Partial("_AppraiserDetail");
    }
</div>

@if (Model.Employee.Role == "Appraiser")
{
    @Html.Partial("_AppraiserOrders");
}

<div class="pad-top">
    <a href="@Url.Action("Edit", new { id = Model.Employee.Id })" class="btn btn-primary btn-lg margin-right">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
    @if (Model.Employee.Role != "Appraiser")
    { 
        <a href="@Url.Action("Promote", new { id = Model.Employee.Id })" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-arrow-up"></span> Promote Appraiser
        </a>
    }
    else
    {
        <a href="@Url.Action("Demote", new { id = Model.Employee.Id })" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-arrow-down"></span> Demote Appraiser
        </a>
    }
    @if (Model.Employee.Active)
    {
        @:<a href="@Url.Action("Terminate", new { id = Model.Employee.Id })" class="btn btn-danger btn-lg margin-right">
        @:<span class="glyphicon glyphicon-remove"></span> Terminate</a>
    }
    else
    {
        @:<a href="@Url.Action("Reactivate", new { id = Model.Employee.Id })" class="btn btn-success btn-lg margin-right">
        @:<span class="glyphicon glyphicon-repeat"></span> Reactivate</a>
    }


    <a href="@Url.Action("Delete", new { id = Model.Employee.Id })" class="btn btn-danger btn-lg margin-right">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </a>    
    <a href="@Url.Action("Index")" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-step-backward"></span> Back
    </a>
</div>