@model Appraisr.ViewModels.EmployeeViewModels.EmployeesEditViewModel

@{
    ViewBag.Title = "Edit" + Model.Employee.Role;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    //@Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

    <h3>@Model.Employee.Role Information</h3>

    <div class="row">
        @Html.Partial("_EmployeeForm")

        @if (Model.Employee.Role == "Appraiser")
        {
            @Html.Partial("_AppraiserForm");
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-primary btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Detail", new { id = Model.Id })" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>
    </div>
}