@model List<Appraisr.Models.Employee>
@{
    ViewBag.Title = "Employees";
}

@Html.Partial("_Message")


<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <a href="@Url.Action("Add", false)" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Employee
    </a>
    <a href="@Url.Action("Add", true)" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Appraiser
    </a>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName @employee.LastName</td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = employee.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

