@model Appraisr.ViewModels.EmployeeViewModels.EmployeesEditViewModel

@{
    ViewBag.Title = "Terminate Employee";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-warning">
    @Model.Employee.FirstName @Model.Employee.LastName will be marked as Inactive.
</div>

@using (Html.BeginForm())
{
    //@Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })

    <h3>Termination Information</h3>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(e => e.Employee.TerminationDate, new { @class = "control-label" })
                @Html.TextBoxFor(e => e.Employee.TerminationDate, "{0:d}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(e => e.Employee.TerminationDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(e => e.Employee.TerminationReason, new { @class = "control-label" })
                @Html.TextBoxFor(e => e.Employee.TerminationReason, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.Employee.TerminationReason)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-primary btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Detail", new { id = Model.Id })" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>
    </div>
}