@model List<Appraisr.Models.Order>
@{
    ViewBag.Title = "Orders";
}

@Html.Partial("_Message")

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">@ViewBag.Title</h2>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#open" data-toggle="tab" aria-expanded="true">Open</a></li>
            <li class=""><a href="#closed" data-toggle="tab" aria-expanded="false">Closed</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="open">
                <div class="pull-right">
                    <a href="@Url.Action("Add")" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> Add Order
                    </a>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Client</th>
                            <th>Date Ordered</th>
                            <th>Date Due</th>
                            <th>Appraiser</th>
                            <th>Report</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            if(order.DateCompleted == null)
                            { 
                                <tr>
                                    <td><a href="@Url.Action("Detail", new { id = order.Id })" class="btn btn-primary btn-xs margin-right">@order.OrderNumber</a></td>
                                    <td><a href="@Url.Action("Detail","Clients", new { id = order.Client.Id })">@order.Client.Name</a></td>
                                    <td>@string.Format("{0:MM/dd/yyyy}", order.DateOrdered)</td>
                                    <td>@string.Format("{0:MM/dd/yyyy}", order.DateDue)</td>
                                    <td><a href="@Url.Action("Detail","Employees", new { id = order.Appraiser.Id })">@order.Appraiser.PrintName</a></td>
                                    <td>@order.Report.Form</td>
                                    <td>
                                        <div class="pull-right">
                                            <a href="@Url.Action("Detail", new { id = order.Id })" class="btn btn-info btn-xs margin-right">
                                                <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                                            </a>
                                            <a href="@Url.Action("Edit", new { id = order.Id })" class="btn btn-primary btn-xs margin-right">
                                                <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                            </a>
                                            <a href="@Url.Action("Delete", new { id = order.Id })" class="btn btn-danger btn-xs margin-right">
                                                <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="closed">
                <div class="pull-right">
                    <a href="@Url.Action("Add")" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> Add Order
                    </a>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Client</th>
                            <th>Date Ordered</th>
                            <th>Date Completed</th>
                            <th>Appraiser</th>
                            <th>Report</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            if (order.DateCompleted != null)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Detail", new { id = order.Id })" class="btn btn-primary btn-xs margin-right">@order.OrderNumber</a></td>
                                    <td><a href="@Url.Action("Detail","Clients", new { id = order.Client.Id })">@order.Client.Name</a></td>
                                    <td>@string.Format("{0:MM/dd/yyyy}", order.DateOrdered)</td>
                                    <td>@string.Format("{0:MM/dd/yyyy}", order.DateCompleted)</td>
                                    <td><a href="@Url.Action("Detail","Employees", new { id = order.Appraiser.Id })">@order.Appraiser.PrintName</a></td>
                                    <td>@order.Report.Form</td>
                                    <td>
                                        <div class="pull-right">
                                            <a href="@Url.Action("Detail", new { id = order.Id })" class="btn btn-info btn-xs margin-right">
                                                <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                                            </a>
                                            <a href="@Url.Action("Edit", new { id = order.Id })" class="btn btn-primary btn-xs margin-right">
                                                <span class="glyphicon glyphicon-edit"></span><span class="hidden-xs"> Edit</span>
                                            </a>
                                            <a href="@Url.Action("Delete", new { id = order.Id })" class="btn btn-danger btn-xs margin-right">
                                                <span class="glyphicon glyphicon-trash"></span><span class="hidden-xs"> Delete</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

