@model List<Appraisr.Models.Order>
@{
    ViewBag.Title = "Orders";
}

@Html.Partial("_Message")


<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Order
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Order</th>
            <th>Client</th>
            <th>Date Ordered</th>
            <th>Date Completed</th>
            <th>Appraiser</th>
            <th>Report</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td><a href="@Url.Action("Detail","Clients", new { id = order.Client.Id })">@order.Client.Name</a></td>
                <td>@order.DateOrdered</td>
                <td>@order.DateCompleted</td>
                <td><a href="@Url.Action("Detail","Employees", new { id = order.Appraiser.Id })">@order.Appraiser.PrintName</a></td>
                <td>@order.Report.Form</td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = order.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

