@model Appraisr.ViewModels.OfficeViewModels.OfficesBaseViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(o => o.Office.Address, new { @class = "control-label" })
            @Html.TextBoxFor(o => o.Office.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(o => o.Office.Address)
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Office.City, new { @class = "control-label" })
            @Html.TextBoxFor(o => o.Office.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(o => o.Office.City)
        </div>
        <div class="form-group">
           @Html.LabelFor(o => o.Office.Zip, new { @class = "control-label" })
        @Html.TextBoxFor(o => o.Office.Zip, new { @class = "form-control" })
        @Html.ValidationMessageFor(o => o.Office.Zip)
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.Office.Phone, new { @class = "control-label" })
            @Html.TextBoxFor(o => o.Office.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(o => o.Office.Phone)
        </div>        
    </div>
</div>



