@model Appraisr.ViewModels.ClientViewModels.ClientBaseViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Name, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Address.Line1, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Address.Line1, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Address.Line1)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Address.Line2, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Address.Line2, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Address.Line2)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Address.City, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Address.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Address.City)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Address.State, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Address.State, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Address.State)
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Address.ZipCode, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Address.ZipCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Address.ZipCode)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Phone, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Phone)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Email, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Client.Type, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Client.Type, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.Type)
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Client.SpecialInstructions, new { @class = "control-label" })
            @Html.TextAreaFor(c => c.Client.SpecialInstructions, 4, 7, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Client.SpecialInstructions)
        </div>
    </div>
</div>



