@model Appraisr.ViewModels.ClientViewModels.ClientDetailViewModel

@{
    ViewBag.Title = "Client Detail";
}

@Html.Partial("_Message")
@Html.Partial("_Warning")


<h2>@Model.Client.Name</h2>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Name)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Name
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Address.Line1)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Address.Line1
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Address.Line2)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Address.Line2
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Address.City)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Address.City
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Address.State)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Address.State
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Address.ZipCode)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Address.ZipCode
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Phone)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Phone
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Email)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Email
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Client.Type)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Client.Type
            </div>
        </div>
        <div class="col-md-6">
            <div>
                @Html.LabelFor(c => c.Client.SpecialInstructions)
            </div>
            <div>
                @(!string.IsNullOrWhiteSpace(Model.Client.SpecialInstructions) ? Model.Client.SpecialInstructions : "N/A")
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ClientOrders")

<div class="pad-top">
    <a href="@Url.Action("Edit", new { id = Model.Client.Id })" class="btn btn-primary btn-lg margin-right">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
    <a href="@Url.Action("Delete", new { id = Model.Client.Id })" class="btn btn-danger btn-lg margin-right">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </a>
    <a href="@Url.Action("Index")" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-step-backward"></span> Back
    </a>
</div>