@model Appraisr.Models.Client

@{
    ViewBag.Title = "Office Detail";
}

@Html.Partial("_Message")
@Html.Partial("_Warning")


<h2>@Model.Name</h2>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Name)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Name
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Address.Line1)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Address.Line1
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Address.Line2)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Address.Line2
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Address.City)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Address.City
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Address.State)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Address.State
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Address.ZipCode)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Address.ZipCode
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Phone)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Phone
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Email)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Email
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(c => c.Phone)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Phone
            </div>
        </div>
        <div class="col-md-6">
            <div>
                @Html.LabelFor(c => c.SpecialInstructions)
            </div>
            <div>
                @(!string.IsNullOrWhiteSpace(Model.SpecialInstructions) ? Model.SpecialInstructions : "N/A")
            </div>
        </div>
    </div>
</div>

<h3>Orders</h3>
@*@if (Model.Employees.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ext.</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.FirstName @employee.LastName</td>
                    <td>@employee.PhoneExt</td>
                    <td>
                        <div class="pull-right">
                            <a href="@Url.Action("Detail","Employees", new { id = employee.Id })" class="btn btn-primary btn-xs margin-right">
                                <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs">Detail</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>This office doesn't contain any employees.</p>
}*@

<div class="pad-top">
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-lg margin-right">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger btn-lg margin-right">
        <span class="glyphicon glyphicon-trash"></span> Delete 
    </a>
    <a href="@Url.Action("Index")" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-step-backward"></span> Back
    </a>
</div>