@model List<Appraisr.Models.Office>
@{
    ViewBag.Title = "Offices";
}

@Html.Partial("_Message")


<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Office
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Office</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var office in Model)
        {
            <tr>
                <td>@office.OfficeName</td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = office.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

